/* reset */
*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

/* body */
body{
    font-family: Arial;
    min-height:100vh; /* height না, min-height */
    display:flex;
    justify-content:center;
    align-items:center;

    padding:15px; /* mobile এ gap রাখবে */

    background: linear-gradient(135deg,#667eea,#764ba2);
    color:#fff;
}

/* container */
.container{
    background: rgba(255,255,255,0.1);
    backdrop-filter: blur(12px);

    padding:25px;
    border-radius:20px;

    width:100%;
    max-width:400px; /* laptop/tablet control */

    text-align:center;
    box-shadow:0 10px 30px rgba(0,0,0,0.3);
}

h2{
    margin-bottom:15px;
}

/* input */
input{
    width:100%;
    padding:12px;
    margin-top:10px;

    border:none;
    border-radius:10px;
    outline:none;

    font-size:16px; /* mobile zoom issue fix */
}

/* password box */
.pass-box{
    position:relative;
}

.pass-box span{
    position:absolute;
    right:10px;
    top:50%;
    transform:translateY(-50%);
    cursor:pointer;
}

/* button */
button{
    margin-top:15px;
    padding:12px;
    width:100%;

    border:none;
    border-radius:10px;

    background:#fff;
    color:#333;

    cursor:pointer;
    transition: 0.3s;
}    